<h1>Edit a Question</h1>

<%= form_for @question, url: question_path(@question), method: :patch do |f| %>
  <% if @question.errors.any? %>
    <p> There were errors with your submission:</p>
    <ul>
      <% @question.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit %>
<%end%>
<%= link_to 'Destroy', question_path(@question),
                    method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', questions_path %>
